@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gloria+Hallelujah&family=Questrial&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Questrial', sans-serif;
}

:root {
  /* color-scheme: ; */
  --primary-color: #A47764;
  --secondary-color: #899F6A;
  --light-color: #F0E9E0;
  --accent-color: #D19C97;
  --text-color: #56453F;
  --background-color: #EDECF1;
  --footer-background: rgb(137, 159, 106, 0.8);
  --footer-text-color: #F0E9E0;

  /* spacing 1rem=16px
  --space-gap: 2rem;
  --space-between-section: 100px; */

  /* typography */
  --font-family: "Questrial, Sans-serif";
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-nav: 20px;
  --font-size-menu: 16px;
  --font-size-p: 14px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}

.containerallNav {
  width: 100%;
  /* 外層容器全屏寬度 */
  margin: 0 auto;
  /* 中心對齊 */
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-brand>img {
  width: 80px;
}

.navbar-brand {
  margin: 0 auto;
  /* 中心對齊 */
  display: flex;
  /* 讓內容水平排列 */
  justify-content: center;
  align-items: center;
}

.brandName>img {
  height: 38px;
}


.navbar-collapse {
  width: 100%;
  /* 自動調整寬度 */
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  /* 更符合標準的分佈 */
  align-items: center;
}



.nav-link {
  text-decoration: none !important;
  color: var(--primary-color) !important;
  font-size: var(--font-size-menu) !important;
}

.nav-link:hover {
  text-decoration: none !important;
  color: var(--secondary-color) !important;
 
}


.custom-hr {
  background-color: var(--secondary-color) !important;
  height: 1px !important;
  width: 90% !important;
  opacity: 1;
  border: 0;
  margin: auto;
}

.navRow {
  height: 60px;
  width: 100vw;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #FFFFFF;
    border: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
  }

  .nav-link {
    text-decoration: none !important;
    color: var(--primary-color) !important;
    font-size: var(--font-size-p) !important;
    padding: 8px !important;
  }

    .nav-link:hover {
      text-decoration: none !important;
      color: var(--secondary-color) !important;
    }

}

@media (max-width: 576px){
  .navbar-collapse {
      background-color: #FFFFFF;
      border: solid;
      border-color: var(--secondary-color);
      border-width: 1px;
      padding-left: 1rem;
      padding-right: 1rem;
      border: 0;
    }
  
    .nav-link {
      text-decoration: none !important;
      color: var(--primary-colorr) !important;
      font-size: var(--font-size-p) !important;
      padding: 8px !important;
    }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  background-color: var(--footer-background);
  width: 100vw;
  height: 327px;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: var(--footer-text-color);
}

h2 {
  margin-bottom: 2rem !important;
  font-size: var(--font-size-h2);
}

.reviewContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.follow>svg {
  margin: 1rem;
  margin-top: 0;
}

.text-center {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
}

@media (max-width: 768px) {
  .footer-container {
    height: 100%;
    justify-content: center;
  }

  .footer {
    display: block;
    height: 100%;
    text-align: center;
  }

  .explore, .email, .touch, .follow{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

}